.profile-container {
padding-top: 50px;
  width: 100vw; 
  min-height: 100vh;   /* Убираем auto, чтобы он занимал всю ширину */
  font-family: Arial, sans-serif;
  padding: 20px 50px;
  /* background-color: #f9f9f9; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  max-width: 1100px;
    margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 40px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-blok{
    display: flex;
    gap: 20px;
}

.avatar {
  width: 80px; /* Задай нужный размер */
  height: 80px;
  border-radius: 50%; /* Делаем круглую рамку */
  overflow: hidden; /* Обрезает всё, что выходит за границы */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc; /* Рамка */
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Масштабирует изображение без искажений */
}


.avatar-icon {
  font-size: 24px;
  color: #5a3d9b;
}

.icon{
    font-size: 30px;
}

.profile-info h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.email-confirm {
  color: #666;
  font-size: 14px;
}

.edit-button {
  background: transparent;
  color: #6a4caf;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.profile-section {
    max-width: 1100px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-section h3 {
  margin: 0 0 5px;
  font-size: 16px;
}

.placeholder-text {
  color: #888;
  font-size: 14px;
}
