@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* 1. Tailwind base */
@import "tailwindcss";

/* 2. Твои переменные и базовые стили */

:root {
  --color-main: #049666;
  --bg-footer: #049666;
  --color-base: #020420;
  --bg-main: #ffff;
  --color-text: #020420;
  --color-accent: #E5E5E5;
    --bg-02: #ffff ;
    --bg-03: #ECEEF1 ;
  --bg-04: #333B45 ;
  --text-1: "Druk Wide Bold", sans-serif;

    /* Переменные для тегов — СВЕТЛАЯ ТЕМА */
    --tag-orange-bg: #FFF7ED;
    --tag-orange-text: #C2410C;
    --tag-orange-border: #FDBA74;
  
    --tag-red-bg: #FEF2F2;
    --tag-red-text: #DC2626;
    --tag-red-border: #FCA5A5;
  
    --tag-green-bg: #F0FDF4;
    --tag-green-text: #16A34A;
    --tag-green-border: #86EFAC;
  
    --tag-gray-bg: #F3F4F6;
    --tag-gray-text: #4B5563;
    --tag-gray-border: #D1D5DB;
  
    --tag-yellow-bg: #FEFCE8;
    --tag-yellow-text: #CA8A04;
    --tag-yellow-border: #FDE047;
}

.dark {
  --color-main: #049666;
  --bg-slate: #04f5a3;
  --bg-main: #020420; /* тёмный фон */
  --color-text: #ffffff; /* светлый текст */
  --color-accent: #1C1E37;
  --bg-02: #1B1D36 ;
  --bg-footer: #1B1D36 ;
  --bg-03: #0F112B ;
  --bg-04: #D0D5DD ;

    /* Переменные для тегов — ТЁМНАЯ ТЕМА */
    --tag-orange-bg: rgba(124, 45, 18, 0.5);
    --tag-orange-text: #FB923C;
    --tag-orange-border: #C2410C;
  
    --tag-red-bg: rgba(127, 29, 29, 0.5);
    --tag-red-text: #F87171;
    --tag-red-border: #DC2626;
  
    --tag-green-bg: rgba(20, 83, 45, 0.5);
    --tag-green-text: #4ADE80;
    --tag-green-border: #16A34A;
  
    --tag-gray-bg: #374151;
    --tag-gray-text: #D1D5DB;
    --tag-gray-border: #4B5563;
  
    --tag-yellow-bg: rgba(113, 63, 18, 0.5);
    --tag-yellow-text: #FACC15;
    --tag-yellow-border: #CA8A04;
}

/* 3. Tailwind components */

/* 6. Шрифт */
* {
  font-family: "Roboto", sans-serif;
  /* position: absolute; */
}

.h1 {
  font-family: "Russo One", sans-serif;
  /* position: ; */
  
}

